.black {
color: black;
}

.red {
color: red;
}

#counterBox {
    background-color: white;
    width: 30%;
    min-width: 400px;
    height:300px;
    margin: 100px auto;
    
    border: lemonchiffon solid 10px;
    border-radius: 20px;
}

.buttons {
    width: 50%;
    margin: 0 auto;
}

.buttons2 {
    display: table;
    margin: 0 auto;
}

#redButton{
    background-color: Peru;
    color: whitesmoke;
    border-radius: 100px;
}